body{
    background-color: #70B9D0;

}
.circles{
    background-color: #00000010;
    border-radius: 50%;
    width: 855px;
    height: 854px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.circles2{
    background-color: #70B9D0;
    border-radius: 50%;
    width: 460px;
    height: 460px;
    position: absolute;
}
.image{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.nameDescription{
    padding: 21px 27px 36px 21px;
}
.name{
    color: #00A3FF;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 500px; 
    line-height: 21px;
}
.description{
    color:#2E3F53;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
}
.item{
    border: 0px outset;
    width: 195px;
    height: 395px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
}