body  {
    background-image: url("./images/bg-banner.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.menuBar{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 60px;
}
.item{
    font-weight: 400;
}
.mainTitle{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 30px;
}
.smallTitle{
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    margin-bottom: 30px;
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 73px;
} 
.content{
    display:flex;
    flex-direction: column;
    color:#FFFFFF;
    max-width: 880px;
}
.buttonGetStarted{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color:#FFFFFF;
    border: 2px solid;
    width: fit-content;
    border-radius: 50px;
    padding: 12px 24px 11px 23px;
}
.itemHome{
    border: 2px solid;
    border-radius: 120px;
    padding: 11px 55px 12px 55px;
}
.page{
    max-width: 1595px;
    margin: 0 auto;
    padding-top: 79px;
}
.menu{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 162px;

}