.page{
    color:#0F172A;
    font-family: 'Roboto';
    padding: 24px 80px 80px 80px;
}
.pageHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 114px;
}
.leftMenuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}
.menuIcon
{
    display: flex;
    gap: 2px;
}
.iconName{
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
}
.listItems{
    display: flex;
    gap:48px;
}
.resourceDown{
    display: flex;
    gap:8px;
}
.item{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.rightMenuBar{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    align-items: center;
    gap: 16px;
}
.btnLogIn{
    padding:12px 8px 12px 8px;
}
.pageHeader .btnSignUpNow{
    border: 2px solid;
    border-radius: 8px;
    padding: 12px 28px 12px 28px;
}
.pageBody{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.mainTitle{
    padding-bottom: 32px;
    position: relative;
}
.textTitle{
    font-size: 72px;
    font-weight: 800;
    line-height: 79px;
    position: relative;
    z-index: 1;
}
.underLineImg{
    position: absolute;
    padding-top: 63px;
    top:0;
}
.description{
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    padding-bottom: 32px;
    width: 575.4px;
    height: 114px;
}
.wrapButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 80px;
    gap:32px;
}
.pageBody .btnSignUpNow{
    border: 2px;
    border-radius: 8px;
    background-color: #EA580C;
    padding: 20px 48px 20px 48px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.btnVideoDemo{
    display: flex;
    flex-direction: row;        
    padding: 16px 8px 16px 8px;
}
.textVideoDemo{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.5px;
    border: 0px;
    padding: 0 16px 0 16px;
    color: #2563EB;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 48px;
}
.logo .text{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #475569;
}