@font-face {
  font-family: Ageo400;
  src: url("../Challenge4/font/AgeoTrial-Light.ttf") format("truetype");
}
@font-face {
  font-family: Ageo850;
  src: url("../Challenge4/font/AgeoTrial-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Ageo700;
  src: url("../Challenge4/font/AgeoTrial-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Ageo500;
  src: url("../Challenge4/font/AgeoTrial-Regular.ttf") format("truetype");
}

.pageFontAgeo {
  font-family: Ageo500;
  color: #000;
  line-height: 28.5px;
}
.pageMenuBar {
  display: flex;
  justify-content: center;
  gap: 114px;
  align-items: center;
  width: 1170px;
  color: #000;
  font-size: 18px;
  margin: 0 auto;
  padding-top: 48px;
}
.rightMenuBar {
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 250px;
}
.rightMenuBar .listItems {
  display: flex;
  gap: 40px;
}
.rightMenuBar .btnMenuBar {
  display: flex;
  gap: 22px;
  align-items: center;
}
.rightMenuBar .listItems .item {
  font-family: Ageo700;
}
.rightMenuBar .btnMenuBar .btnSignUp {
  border-radius: 10px;
  background-color: #f60;
  color: #fff;
  font-weight: 500;
  padding: 10px 29px 10px 30px;
  cursor: pointer;
}
.rightMenuBar .btnMenuBar .btnSignUp:hover {
  background-color: rgb(217, 88, 2);
}
.pageTitle {
  display: flex;
  margin: 0 auto;
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 153px;
}
.wrapText {
  margin-top: 114px;
  position: relative;
  z-index: 1;
}
.pageTitle .mainTitle {
  color: #0b1b35;
  font-family: Ageo850;
  font-size: 70px;
  line-height: 81px; /* 115.714% */
  width: 653px;
  height: 260px;
  margin-bottom: 16px;
}
.pageTitle .description {
  font-size: 22px;
  margin-bottom: 61px;
  width: 555px;
  height: 62px;
}
.btnTitle {
  display: flex;
  font-size: 18px;
  gap: 28px;
  align-items: center;
}
.btnGetStarted {
  border-radius: 10px;
  background: #f60;
  padding: 11px 34px 9px;
  color: #fff;
  cursor: pointer;
}
.btnGetStarted:hover {
  background-color: rgb(217, 88, 2);
}

.btnLearnMore {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: Ageo700;
  cursor: pointer;
}
.pageTitle .img {
  margin-top: 26px;
  position: absolute;
  z-index: 2;
  left: 660px;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.pageName {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageName .mainTitle {
  color: #8a898e;
  font-family: Ageo700;
  font-size: 14px;
  letter-spacing: 6.3px;
  margin-bottom: 19px;
  display: flex;
  align-items: center;
}
.pageName .description {
  color: #0b1b35;
  font-family: Ageo700;
  font-size: 52px;
  margin-bottom: 108px;
  width: fit-content;
}
.listServiceTags {
  display: flex;
  gap: 57px;
  color: #000;
  font-size: 18px;
  margin-bottom: 181px;
  justify-content: space-between;
}
.listServiceTags .tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 28px;
  background: #fff;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  padding: 0 41px 35px;
}
.listServiceTags .img {
  margin-top: 30.53px;
}
#img1 {
  padding: 9.8px 0 9.32px 0;
}
.listServiceTags .tagName {
  text-align: center;
  font-family: Ageo700;
  font-size: 36px;
  line-height: 28.5px; /* 79.167% */
  margin-top: 41px;
  margin-bottom: 32px;
}
.listServiceTags .tagDescription {
  text-align: center;
  line-height: 28.5px; /* 158.333% */
  width: 270px;
  height: 187px;
  margin-bottom: 18px;
  font-family: Ageo400;
}
.listServiceTags .tagBtn {
  border-radius: 10px;
  background: #f60;
  color: #fff;
  line-height: 28.5px; /* 158.333% */
  padding: 11px 36px 9px;
  font-family: Ageo500;
  cursor: pointer;
}
.listServiceTags .tagBtn:hover {
  background-color: rgb(217, 88, 2);
}
.pageFontDM-Sans {
  font-family: "DM Sans", sans-serif;
}
.content {
  display: flex;
  margin: 0 auto;
  gap: 159.22px;
  margin-bottom: 146px;
  width: 1170px;
}
.contentTitle {
  color: var(--Colors-Heading, #1e0e62);
  /* Heading / H5 Lead */
  font-size: 22px;
  font-weight: 500;
  line-height: 32px; /* 145.455% */
  margin-bottom: 20.51px;
  width: 303.959px;
  height: 77.196px;
}
.contentDescription {
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  /* Text / Paragraph */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 322.052px;
  height: 125.443px;
  margin-bottom: 72.13px;
}
.btnExplore {
  border-radius: 100px;
  border: 2px solid var(--Colors-Grey, #ebeaed);
  padding: 13px 37.68px 13.25px 38px;
  color: var(--Colors-Heading, #1e0e62);
  text-align: center;
  /* Buttons / Small */
  font-size: 16px;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  width: fit-content;
  cursor: pointer;
}
.listTestmonitalsTags {
  margin-bottom: 142px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topUser {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}
.bottomUser {
  display: flex;
  gap: 30px;
}
.listTestmonitalsTags .tag {
  display: flex;
  border-radius: 10px;
  border: 2px solid var(--Colors-White, #fff);
  gap: 30px;
  width: 470px;
  height: 237px;
}
.listTestmonitalsTags .img {
  border-radius: 10px;
  width: 70px;
  height: 70px;
  padding: 36px 0 0 35px;
}
.comment {
  color: #0b1b35;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 28px 23px 0;
}
.userComment {
  /* Text / Article */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  width: 307px;
}
.userName {
  /* Text / Label */
  font-size: 14px;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0.3;
}
.listOurTeamTags {
  display: flex;
  gap: 30px;
  font-family: "DM Sans", sans-serif;
  margin-bottom: 110px;
}
.listOurTeamTags .tag {
  border-radius: 10px;
  border: 2px solid var(--Colors-Grey, #ebeaed);
  width: 370px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.listOurTeamTags .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
.listOurTeamTags .userPicture {
  width: 120px;
  height: 120px;
  margin-bottom: 28.8px;
}
.listOurTeamTags .name {
  color: var(--Colors-Heading, #1e0e62);
  font-size: 22px;
  font-weight: 500;
  line-height: 32px; /* 145.455% */
  margin-bottom: 16.2px;
}
.listOurTeamTags .position {
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  font-size: 14px;
  font-weight: 700;
  line-height: 26px; /* 185.714% */
  letter-spacing: 2px;
  text-transform: uppercase;
}
.listOurTeamTags .icon {
  display: flex;
}
.listOurTeamTags .img1 {
  border-top: 2px solid var(--Colors-Grey, #ebeaed);
  border-right: 2px solid var(--Colors-Grey, #ebeaed);
  padding: 18px 53px;
  cursor: pointer;
}
.listOurTeamTags .img2 {
  border-top: 2px solid var(--Colors-Grey, #ebeaed);
  padding: 18px 48px;
  cursor: pointer;
}
.listOurTeamTags .img3 {
  border-top: 2px solid var(--Colors-Grey, #ebeaed);
  border-left: 2px solid var(--Colors-Grey, #ebeaed);
  padding: 18px 53px;
  cursor: pointer;
}
.pageFontRoboto {
  font-family: "Roboto";
  color: #000;
}
.pageFontRoboto .content {
  display: flex;
  gap: 49px;
}
.pageFontRoboto .contentText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pageFontRoboto .text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.5px; /* 158.333% */
  margin-bottom: 23px;
  margin-left: 12px;
  height: 78px;
}
.pageFontRoboto .btn {
  display: flex;
  flex-direction: column;
  gap: 51px;
}
.boxYourE-mailHere {
  border-radius: 49px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  background: #fff;
  box-shadow: 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.02),
    0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03),
    0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.04),
    0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.04),
    0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.05),
    0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  font-size: 24px;
  font-weight: 400;
  line-height: 28.5px; /* 118.75% */
  padding: 24px 0 24px 67px;
}
.btnSubscribeOurNewsletter {
  border-radius: 10px;
  background: #f60;
  color: #fff;
  font-family: Ageo500;
  font-size: 18px;
  padding: 11px 249px 9px 249px;
  cursor: pointer;
  line-height: 28.5px;
}
.pageFooter {
  font-family: "DM Sans", sans-serif;
  /* Text / Paragraph */
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.pageFooter .img {
  width: 111px;
  height: 23px;
}
.online {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 141px;
  color: var(--Colors-Heading, #1e0e62);
  border-bottom: 2px solid var(--Colors-Grey, #ebeaed);
  width: 1170px;
  margin-bottom: 31px;
}
.pageFooter .listItems {
  display: flex;
  gap: 39px;
  width: 455px;
}
.logo {
  display: flex;
  gap: 90px;
  width: 570px;
  align-items: center;
}
.lastWord {
  border: none;
  color: var(--Colors-Text, rgba(21, 20, 57, 0.4));
  /* Text / Paragraph */
  display: flex;
  justify-content: center;
  padding: 40px 320px 41px 1px;
}
